@import "../../global.scss";

.intro{
    background-color: black;
    display: flex;

    @include mobile{
        flex-direction: column;
    }

    .left{
        flex: 0.6;
        overflow: hidden;
        position: relative;
        .imgContainer{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-image: linear-gradient(90deg, $mainColor, $secondaryColor, $tertiaryColor, $tetradicColor);
            background-size: 300%;
            animation: bg-animation 15s infinite alternate;
            border-radius: 50%;
            

            @keyframes bg-animation {
                50%{
                    background-position: left;
                }
                100%{
                    background-position: right;
                }
            }
            

            img{
                height: 100%;
                width: 100%;
                position: absolute;
            }
        }
    }

    .right{
        flex: 0.4;
        position: relative;
        color: $mainColor;

        .wrapper{
            width: 100%;
            height: 100%;
            padding-left: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @include mobile{
                padding-left: 0;
                align-items: center;
            }

            h1{
                font-size: 90px;
                margin: 10px 0;

                @include mobile{
                    font-size: 40px;
                }

                @include tablet{
                    font-size: 60px;
                }

                @include laptop{
                    font-size: 75px;
                }
            }

            h2{
                font-style: 65px;
                color: $tertiaryColor;
            }

            h3{
                font-size: 50px;
                color: $tetradicColor;

                @include mobile{
                    font-size: 30px;
                }

                @include tablet{
                    font-size: 40px;
                }

                @include laptop{
                    font-size: 50px;
                }

                span{
                    font-size: 50px;
                    color: $secondaryColor;

                    @include mobile{
                        font-size: 30px;
                    }

                    @include tablet{
                        font-size: 38px;
                    }

                    @include laptop{
                        font-size: 50px;
                    }
                }

                .ityped-cursor{
                    animation: blink 1s infinite;
                }

                @keyframes blink {
                    50%{
                        opacity: 1;
                    }
                    100%{
                        opacity: 0;
                    }
                }
            }
        }

        a{
            position: absolute;
            bottom: 10px;
            left: 45%;

            img{
                width: 80px;
                animation: arrowBlink 2s infinite;
            }

            @keyframes arrowBlink {
                100%{
                    opacity: 0;
                }
            }
        }
    }
}
