.intro {
    display: flex;
    height: 100vh;
}

.intro-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-right {
    flex: 1;
}

.intro-left-wrapper {
    padding: 50px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.intro-welcome {
    font-size: 30px;
    font-weight: 300;
}

.intro-name {
    font-size: 60px;
}

.intro-title {
    height: 50px;
    overflow: hidden;
}

.intro-title-item {
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    color: orange;
    display: flex;
    align-items: center;
}

.intro-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.intro-title-wrapper {
    height: 100%;
    animation: move 10s ease-in-out infinite alternate;
}

@keyframes move {
    50%{
        transform: translateY(-50px);
    }
}