$mainColor: #F1B20E;
$secondaryColor: #FC03C9;
$tertiaryColor: #034DFC;
$tetradicColor: #03FC36;

$width: 768px;
$width-tablet: 768px;
$width-laptop: 1150px;
$width-desk: 1600px;
$width-huge: 2000px;

@mixin mobile {
    @media (max-width: #{$width}){
        @content
    }
};

@mixin tablet {
    @media (min-width: #{$width-tablet}){
        @content
    }
};

@mixin laptop {
    @media (min-width: #{$width-laptop}){
        @content
    }
};

@mixin desktop {
    @media (min-width: #{$width-desk}){
        @content
    }
};

@mixin huge {
    @media (min-width: #{$width-huge}){
        @content
    }
};

